
/*** FOOTER ****/

footer {
	padding: 25px 0;
	color: $primary; 
}
.footer-contenido {
	width: 98%;
	margin:  0 auto;

    @include media-breakpoint-up(lg) {  
    	width: 93%;
    }
    @include media-breakpoint-up(xxl) {  
    	width: 85%;
    }
}

.footer-texto {
	display: inline-block;
	padding: 25px 0;
	border-top: 2px solid #d9d6d6;
	
    @include media-breakpoint-down(md) { 
    	text-align: center;
    }
}


.footer-interior {
	padding: 25px 0;
	border-top: 2px solid #d9d6d6;	
}